# Standard Pre-Processing Data Steps for Machine Learning
#### 1. Get the Data Set (.csv)
#### 2. Import the Libraries
#### 3. Import the Data Set
#### 4. Handle Missing Data
#### 5. Handle Categorical Data
#### 6. Split the Data Set into the Training and Testing Set
#### 7. Feature Scaling

# Importing the Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the Data Set

Must load the data set before pre-processing
* We will be using the customers.csv file in "data/customers.csv"

In [2]:
# read the data/csv file
customers_df = pd.read_csv("data/customers.csv")

# output the dataframe
customers_df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
# use a dictionary to format specific columns
customers_df.style.format({"Salary":"{:.0f}"})

# or set float format for all dataframes
# pd.set_option('display.float_format','{:.1f}'.format)

### What is 'x'?
The x (independent variable) is a 2D Array of the Country, Age, and Salary columns.
* Each column is an independent variable
* Each row is a sample

In [4]:
# return a 2D array excluding the last column (independent variable vector)
# '[:,' - all rows
# ',:-1]' - all columns except the last one
x = customers_df.iloc[:, :-1].values
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

### What is 'y'?
The y (dependent variable) is an Array of the Purchased column.

In [5]:
# return a 2D array of the last column (dependent variable vector)
y = customers_df.iloc[:, 3].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

### So What's the Machine Learning (ML) Problem?
The Purchased column is dependent on the Country, Age, and Salary.

Therefore, can we can make predictions on whether a customer will purchase an item based on their country, age, and salary.

# Handling Missing Data
The customers data set contains some "NaN" or undefined cells, so we must handle the missing data before we begin creating machine learning models.
### There are multiple ways to fix missing data:
1. Remove the columns with missing data (not recommended, dangerous)
2. Set the cell's data to the mean of the columns <b>(recommended)<b>

In [10]:
# import sklearn's Imputer class, a class that handles missing data
from sklearn.impute import SimpleImputer

In [12]:
# create an SimpleImputer that replaces NaN cells with its column's mean
# SHIFT+TAB on class/function to see parameters should be passed in SimpleImputer()
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")

### Fit
The fit part is used to analyse the data on which we apply the object (getting the mean, the min, the max, the standard deviation, outliers, etc.) in order to understand how the data is structured.

In [13]:
# fit the columns for the imputer
imputer = imputer.fit(x[:, 1:3])

### Transform
Then once the object understands how the data is structured thanks to the fit method, the transform part is used to apply some transformation (like feature scaling for example).

In [14]:
# transform the age (col 1) and salary (col 2) columns
x[:, 1:3] = imputer.transform(x[:, 1:3])
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [15]:
x_df = pd.DataFrame(x, columns = ["Country","Age","Salary"])
y_df = pd.DataFrame(y,columns = ["Purchased"])

# concatenate both dataframes for new data set
customers_df = pd.concat([x_df,y_df], axis = 1)

# create new .csv file
customers_df.to_csv("data/new_data.csv", index = False)

In [16]:
customers_df

   Country      Age   Salary Purchased
0   France       44    72000        No
1    Spain       27    48000       Yes
2  Germany       30    54000        No
3    Spain       38    61000        No
4  Germany       40  63777.8       Yes
5   France       35    58000       Yes
6    Spain  38.7778    52000        No
7   France       48    79000       Yes
8  Germany       50    83000        No
9   France       37    67000       Yes

# Categorical Data
The "Country" and "Purchased" columns are categorial variables.

* The Country column contains 3 categories: France, Spain, Germany
* The Purchased column contains 2 categories: Yes & No

They are considered "categorical" because they simply contain categories.

### The Problem with Categorical Variables
In Machine Learning, having categorial variables may scew the model because the values could be non-numeric or non-processable.

A solution is to encode categorical values.

In [17]:
# import LabelEncoder
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [18]:
# create a labelencoder
labelencoder_x = LabelEncoder()

# set each country to its encoded value in the Country column
x[:, 0] = labelencoder_x.fit_transform(x[:, 0])
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

### The Problem with The "Country" Column's Encoding
If we implemented a machine learning model using the country encodings of 0, 1, or 2, then it would think the country with an encoding of 2 has a greater value than the countries of an encoding of 1 and 0.

This is not the case since the values are categorical.

### A Solution to The Column's Encoding Problem
We can create Dummy variables/columns for the three countries.

* Instead of having 1 column of the 3 countries, create 3 columns
    * These 3 columns would indicate whether or not the country was present per cell based on the Country column

In [19]:
from sklearn.compose import make_column_transformer

In [20]:

"""
a transformer to encode the Country column as dummy columns
- remainder=passthrough guarantees that after fit_transforming the
preprocess object, x contains all other variables (Age, Salary)
and not just the transformed one (Country)
"""
dummy_transformer = make_column_transformer((OneHotEncoder(), [0]),
                                            remainder="passthrough")
"""
replace the Country column with 3 columns with values of 0 or 1
- 0 indicates that country was not present in the cell
- 1 indicates that country was present in the cell
"""
x = dummy_transformer.fit_transform(x)
x

C:\Users\mckka\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [21]:
"""
simply encode the Purchased column because the column's values
are only "Yes" or "No", so it doesn't need dummy columns
"""
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

# Split into Training and Testing Data Sets
Let's split the customers data set into training and testing sets.

* <b>Training data sets </b> are used by the machine learning model to learn.
* <b>Testing data sets </b> are used by the machine learning model to predict.

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
"""
create x, y training and testing sets
- x = independent variable
- y = dependent variable
- test_size = what percentage of data is for testing, 20% for our case
- random_state = which state (seed) to split the data sets
"""
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [26]:
# print the training and testing sets for x & y
print("The x-training set:")
print(x_train)

print("\nThe x-testing set:")
print(x_test)

print("\nThe y-training set:")
print(y_train)

print("\nThe y-testing set:")
print(y_test)

The x-training set:
[[0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 37.0 67000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 0.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [1.0 0.0 0.0 44.0 72000.0]
 [1.0 0.0 0.0 35.0 58000.0]]

The x-testing set:
[[0.0 1.0 0.0 30.0 54000.0]
 [0.0 1.0 0.0 50.0 83000.0]]

The y-training set:
[1 1 1 0 1 0 0 1]

The y-testing set:
[0 0]

# Feature Scaling

The columns are not within the same scale, which causes issues when comparing values in the machine learning models.

For example, the "Age" column has values from 27 to 50. If we compare that to the "Salary" column, which has values from 52,000 to 83,000, then obviously the "Salary" column would dominate in value.

### Why would these errors occur?
Most ML models follow the Euclidian distance (distance formula).

If a column has much wider range of values than another column, then the wider range of values would dominate the smaller range of values.

### Solving the Scaling Problem
We can solve this number scaling problem through 2 feature scaling methods.

Either method you choose, the variables become in the same range and in the same scale, thus no variables dominate another variable when comparing them.

##### Standarization
stand_value(x) = [x - mean(x)] / standard_deviation(x)

Standardization rescales data to have a mean (μ) of 0 and standard deviation (σ) of 1 (unit variance)

##### Normalization
norm_value(x) = [x - min(x)] / [max(x) - min(x)]

Normalization rescales the values into a range of [0,1]
* This might be useful in some cases where all parameters need to have the same positive scale

However, the outliers from the data set are lost.

##### When Scaling This 2D Array Using Standarized Scaling:

In [ ]:
arr = [[1, 500, 1250],
       [0, 750, 1000],
       [0.5, 1000, 750]]

##### It Becomes:

In [ ]:
arr = [[ 1.22474487, -1.22474487,  1.22474487],
       [-1.22474487,  0.        ,  0.        ],
       [ 0.        ,  1.22474487, -1.22474487]]

As you can see, the individual columns are all now on the same scale.

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
# create a Standarization Scaler for the x sets
sc_x = StandardScaler()

# standarize the x-training set
x_train = sc_x.fit_transform(x_train)

"""
standarize the x-testing set using the same scaler.

we use the standarized scaling from the fitted training
data set on the testing data set because it compares
the testing data set values to the same mean, standard
deviation, min, and max from the training data set.

therefore, the feature scaling on the testing data set
is the same as the feature scaling on the training data
set because they were both fitted using the same scaler.
"""
x_test = sc_x.transform(x_test)

In [31]:
x_train

array([[-1.        ,  2.64575131, -0.77459667,  0.26306757,  0.12381479],
       [ 1.        , -0.37796447, -0.77459667, -0.25350148,  0.46175632],
       [-1.        , -0.37796447,  1.29099445, -1.97539832, -1.53093341],
       [-1.        , -0.37796447,  1.29099445,  0.05261351, -1.11141978],
       [ 1.        , -0.37796447, -0.77459667,  1.64058505,  1.7202972 ],
       [-1.        , -0.37796447,  1.29099445, -0.0813118 , -0.16751412],
       [ 1.        , -0.37796447, -0.77459667,  0.95182631,  0.98614835],
       [ 1.        , -0.37796447, -0.77459667, -0.59788085, -0.48214934]])

In [32]:
x_test

array([[-1.        ,  2.64575131, -0.77459667, -1.45882927, -0.90166297],
       [-1.        ,  2.64575131, -0.77459667,  1.98496442,  2.13981082]])